.App {
  text-align: center; /* Centers content */
}

.App-logo {
  max-width: 100%; /* Ensures image responsiveness */
  height: auto;
  margin: 0 auto; /* Centers the image */
  display: block;
}

.App-header {
  padding: 20px;
  line-height: 1.5; /* Improves readability of text */
  background-color: #DBDAD9; /* Sets the background color to match your image */
}

a {
  color: #000; /* Adjust link color as needed */
  text-decoration: none; /* Optional: removes underline from links */
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #DBDAD9; /* Sets the background color to match your image */
}


